.profile {
  h2 {
    color: #ff6060;
    font-size: 20px;

    @media screen and (min-width: 767px) {
      font-size: 36px;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0;
    @media screen and (min-width: 767px) {
      flex-direction: row;
    }

    .location {
      color: #ff6060;
      margin-top: 10px;

      @media screen and (min-width: 767px) {
        font-size: 20px;
      }
    }

    .tags-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 20px 0px;
      gap: 10px;

      @media screen and (min-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      }

      .tag {
        /* Display */
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ff6060;
        border-radius: 10px;
        /* Text */
        font-size: 13px;
        color: #ffffff;
        height: 35px;
        padding: 3px 9px;

        @media screen and (min-width: 767px) {
          font-size: 15px;
        }
      }
    }
  }

  .rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    @media screen and (min-width: 767px) {
      flex-direction: column;
      justify-content: center;
    }

    .host {
      display: flex;
      align-items: center;
      gap: 15px;
      width: 130px;
      padding: 0px 4px;

      @media screen and (min-width: 768px) {
        width: 180px;
      }

      &-picture {
        width: 42px;
        height: 42px;
        @media screen and (min-width: 767px) {
          width: 70px;
          height: 70px;
        }

        img {
          border-radius: 50px;
          background: #c4c4c4;
          object-fit: cover;
          width: 42px;
          height: 42px;
          @media screen and (min-width: 767px) {
            width: 70px;
            height: 70px;
          }
        }
      }

      p {
        color: #ff6060;
        text-align: end;

        @media screen and (min-width: 767px) {
          font-size: 20px;
        }
      }
    }
  }

  &-collapse {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    @media screen and (min-width: 767px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
